params {
    transcript_map = "spots"
    x = 'xc'
    y = 'yc'
    gene_column = 'target'
    min_molecules = 5
    scale = 24
    scale_std = 0.2
    n_clusters = 15
    save_polygons = 'GeoJSON'

}

process {
    withName: SEGMENT {
        ext.args = { "-x ${params.x} -y ${params.y} --gene-column ${params.gene_column} -m ${params.min_molecules} -s ${params.scale} --scale-std ${params.scale_std} --save-polygons ${params.save_polygons} -p"}
        docker_img = "segonzal/baysor_installation_inside_ubuntu:latest"
    }
}

docker.enabled = true
